body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.right-half ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}

.left-half, .right-half {
    display: flex;
    align-items: center;
    gap: 16px;
}

.left-half {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header, .footer, .intro {
    background-color: #1F2937;
}

.intro-left h1 {
    color: #f9faf8;
    font-weight: 800;
    font-size: 48px;
}

a, .intro-left p {
    color: #e5e7eb;
    font-size: 18px;
}

.intro-right {
    background-color: #6D747D;
    width: 520px;
    height: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.intro {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 36px;
}

.intro-left {
    display: flex;
    flex-direction: column;
    width: 500px;
    flex-wrap: nowrap;
}

.intro-button, .signup-right button {
    width: 130px;
    height: 35px;
    background-color: #3B82F6;
    font-weight: bolder;
    color: white;
    font-size: large;
    border-radius: 5px;
}

.intro-button {
    border: none;
}

.image-content {
    width: 166px;
    height: 166px;
    border-color: #3B82F6;
    border-style: solid;
    border-radius: 10px;
}

.info-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.img-info p {
    text-align: center;
}

.img-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: min-content;
}

.info h2 {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.quotes {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 70px;
    align-items: center;
}

.inspiring-quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 750px;
}

.quote-container {
    display: flex;
    flex-direction: column;
}

.sign-quote {
    align-self: end;
    font-weight: bold;
    font-size: 24px;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3B82F6;
    width: 1024px;
    height: 150px;
    margin: 100px;
    border-radius: 10px;
    align-self: center;
}

.signup-container {
    color: white;
}

.signup-container p {
    font-size: 20px;
}

.signup-right button {
    border-style: solid;
    border-color: white;
}

.footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: large;
}